* {
    margin: 0;
}

html{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
    border: solid 2px purple;
}

.collapse {
    overflow: hidden;
    height: 0px
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

a {
    text-decoration: none;
}

.nav-collapse {
    display: flex;
    justify-content: space-between;
    height:10vh;
}

.home {
    position: relative;
    width: 100%; 
    height: 100vh;
    padding: 0; 
    margin: 0;
    overflow: hidden;
    will-change: transform;
    background: url("./Assets/images/home.png") no-repeat scroll center top transparent;
    border: green solid 2px;
    background-origin: content-box;
    background-size: cover;
}


.centered {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fffcf0;
        border: 2px solid #fffcf0;
        padding: 1vh;
        font-size: 5%;
}
img {
    max-height: 100%;
}

.hamburger {
    align-items: center;
    display: flex;
}

.full-menu{
    align-items: center;
    display: flex;
    flex-direction: column;
    border: red solid 1px;
    justify-content: center;
    
}

.full-menu > ul > li {
    padding-right: 2vw;
    padding-left: 2vw;
}

a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
    background-color: none;
}

.about-img {
    width: 100%;
    border: solid red 1px;
}

.about, .jess, .contact, .services {
    padding: 5%;
    border: purple solid 1px;
}

.about-title { 
    text-align: center;
    border: green solid 1px;
}

.about-body{
    border: orange solid 1px;
}

p {
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
    border: blue solid 1px;
    margin-top: 0;
    margin-bottom: 0;

}

.map {
    border: 0;
    max-width: 100%;
}



.hours > p {
    margin: 0;
    width: 100%;
    text-align: center;
}

h3 {
    text-align: center;
}

.hours {
    border: palegreen solid 1px;
    padding-left: 2%;
    padding-right: 2%;
    width: 46%;
}

.footer {
    display: flex;
    width: 100%;
    border: solid red 1px;
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: 5vh;
}


@media screen and (max-width: 600px) {
    .full-menu {
      display: none;
    }
}

@media screen and (min-width: 600px) {
    .hamburger, .open  {
      display: none;
    }

    ul {
        display: flex
    }
    .about-body {
        display: flex;
    }
    .about-img, .map {
        width: 46%;
        padding-right: 2%;
        padding-left: 2%;   
    }

    p {
        width: 46%;
    }
   
}

