html{
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: column;
}

.collapse {
    overflow: hidden;
    height: 0px
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

a {
    text-decoration: none;
}

.nav-collapse {
    display: flex;
    justify-content: space-between;
    height:10vh;
}

img {
    max-height: 100%;
}

.hamburger {
    align-items: center;
    display: flex;
}

.full-menu{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.full-menu > ul > li {
    padding-right: 2vw;
    padding-left: 2vw;
}

a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
    background-color: none;
}

.about-img {
    width: 100%;
    border: solid red 1px;
}

.about, .jess, .contact {
    padding: 5%;
    border: purple solid 1px;
}

.about-title { 
    text-align: center;
    border: green solid 1px;
}

.about-body{
    border: orange solid 1px;
}

p {
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
    border: blue solid 1px;
    margin-top: 0;
    width: 46%;
}

.map {
    border: 0;
    max-width: 100%;
}


.hours > p {
    margin: 0;
    width: 100%;
    text-align: center;
}

h3 {
    text-align: center;
}

.hours {
    border: palegreen solid 1px;
    padding-left: 2%;
    padding-right: 2%;
    width: 46%;
}

@media screen and (max-width: 600px) {
    .full-menu {
      display: none;
    }
}

@media screen and (min-width: 600px) {
    .hamburger, .open  {
      display: none;
    }

    ul {
        display: flex
    }
    .about-body {
        display: flex;
    }
    .about-img, .map {
        width: 46%;
        padding-right: 2%;
        padding-left: 2%;   
    }
   
}

