html{
    box-sizing: border-box;
}

nav {
    display: flex;
    border: red solid 1px;
    flex-direction: column;
}

.collapse {
    border: solid purple 1px;
    overflow: hidden;
    height: 0px
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
a {
    text-decoration: none;
}

.nav-collapse {
    border: blue solid 1px;
    display: flex;
    justify-content: space-between;
}

